<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <form class="d-flex">
      <input class="form-control me-2 rounded-pill bg-primary" type="search" placeholder="Search" style="width:500px;height:3rem;" aria-label="Search">
      <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="rounded-circle" style="width: 3rem;height: 3rem;object-fit:cover;"  alt="...">
      <<!--button class="btn btn-outline-success" type="submit">Search</button>-->
    </form>
  </div>
</nav>
