<!--footer-->
<hr>
<footer class="footer mt-auto py-3 ">
  <div class="container">
   <div class="row">
     <div class="col-sm-3">
      <h5 >ABOUT</h5>
       <p class="footerLink"><a href="./aboutUs.php" class="text-dark">ABOUT SANABORA</a></p>
        <p class="footerLink"><a href="./aboutUs.php" class="text-dark">SANABORA STORY</a></p>
        <p class="footerLink"><a href="./aboutUs.php" class="text-dark">WHY SANABORA</a></p>
        <p class="footerLink"><a href="./aboutUs.php" class="text-dark">SANABORA GIVES</a></p>
    </div>
    <div class="col-sm-3">
      <h5>HELP</h5>
      <p class="footerLink"><a href="./faqs.php" class="text-dark">CONTACT US</a></p>
       <p class="footerLink"><a href="./faqs.php" class="text-dark">YOUR ACCOUNT</a></p>
       <p class="footerLink"><a href="./faqs.php" class="text-dark">SHIPPING METHODS</a></p>
        <p class="footerLink"><a href="./faqs.php" class="text-dark">WEBSITE RETURNS</a></p>
        <p class="footerLink"><a href="./faqs.php" class="text-dark">FAQ</a></p>
    </div>

    <div class="col-sm-3">
      <h5>SHOP</h5>
      <p class="footerLink">P.O BOX 7689 - 00100,NAIROBI,KENYA</p>
      <p class="footerLink">TEL 0207869993</p>
      <p class="footerLink">CEL +254705186691</p>
      <p class="footerLink">email: info@sanabora.com</p>
    </div>
    <div class="col-sm-3">
      <h5>JOIN OUR LIST AND RECEIVE EXCLUSIVE</h5>
      <form action="newsLetter.php" method="POST">
         <div class="form-group float-left d-inline">
      <input type="email" name="list" placeholder="Your Email Address" class="form-control border-top-0 border-right-0 border-left-0 border border-dark form-control-sm" />

        </div>
         <button type="submit" name="submit"  class="btn btn-primary mb-2 btn btn-outline-primary"><a routerLink="/loginForm" class="footerLinkIcons float-left" routerLinkActive="active"  href="#"><i class='fas fa-share'></i></a></button>
         <hr style="visibility: none;">
       <nav class="nav nav-masthead d-inline mt-0 ml-0 ">
         <a class="footerLinkIcons" routerLinkActive="active"  href="#"><i class="fa fa-instagram"></i></a>
        <a  class="footerLinkIcons" routerLinkActive="active"  href="#"><i class="fa fa-facebook-square"></i></a>
        <a  class="footerLinkIcons" routerLinkActive="active"  href="#"><i class="fa fa-twitter"></i></a>
        <a  class="footerLinkIcons" routerLinkActive="active"  href="#"><i class="fa fa-youtube-play"></i></a>
        <a  class="footerLinkIcons" routerLinkActive="active"  href="#"><i class="fa fa-pinterest"></i>
</a>

      </nav>
      </form>


    </div>

   </div>
  </div>
 <div class="d-flex justify-content-center">

                     <h5><script>
                        document.write(new Date().getFullYear())
                    </script>&copy; Sanabora All Rights Preserved</h5>
 </div>
</footer>
<!--footer-->
