<!--footer-->
<hr>
<footer class="footer mt-auto py-3 ">
  <div class="container">
   <div class="row">
     <div class="col-sm-4">
      <h6>Centre For Business Innovation & Training</h6>
      <p class="footerLink"> Promoting Global Competitiveness Of Eastern Africa Economies By Innovation.</p>
    </div>
    <div class="col-sm-4">
      <h6>Featured Courses</h6>
      <p class="footerLink"><a href="./faqs.php" class="text-dark">5 min Tutorial</a></p>
       <p class="footerLink"><a href="./faqs.php" class="text-dark">Enterpreneurship</a></p>
       <p class="footerLink"><a href="./faqs.php" class="text-dark">Start and Improve your business</a></p>
        <p class="footerLink"><a href="./faqs.php" class="text-dark">Export Management</a></p>
        <p class="footerLink"><a href="./faqs.php" class="text-dark">Project Management</a></p>
    </div>

    <div class="col-sm-4">
      <h6>Help & Support</h6>
      <p class="footerLink">Terms and privacy policy</p>
      <p class="footerLink">Privacy </p>
      <p class="footerLink">Faq</p>
      <p class="footerLink">Referral Program</p>
    </div>


   </div>
  </div>

</footer>
<!--footer-->
