
  <div class="row">
    <div class="card col-sm-4 border-0 d-flex justify-content center shadow-none" >
          <div class="card-body ">
            <p class="mainBody text-success">Balance</p>
            <h1 class="text-success">KSH 12,000</h1>
          </div>
    </div>
    <div class="card col-sm-4  border-0 d-flex justify-content center shadow-none" >
      <div class="card-body ">
        <p class="mainBody text-danger">Spent</p>
        <h1 class="text-danger">KSH 20,000</h1>
      </div>
</div>
<div class="card col-sm-4  border-0 d-flex justify-content center shadow-none" >
  <div class="card-body ">
    <p class="mainBody text-info">Transactions</p>
    <h1 class="text-info">1,000</h1>
  </div>
</div>


  </div>

  <h4>Payment history</h4>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr class="mainBody">
          <th>#</th>
          <th>Sender</th>
          <th>Receiver</th>
          <th>Date</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody class="mainBody">
        <tr>
          <td>1,001</td>
          <td>Lorem</td>
          <td>ipsum</td>
          <td>dolor</td>
          <td>sit</td>
        </tr>
        <tr>
          <td>1,002</td>
          <td>amet</td>
          <td>consectetur</td>
          <td>adipiscing</td>
          <td>elit</td>
        </tr>
        <tr>
          <td>1,001</td>
          <td>Lorem</td>
          <td>ipsum</td>
          <td>dolor</td>
          <td>sit</td>
        </tr>
        <tr>
          <td>1,002</td>
          <td>amet</td>
          <td>consectetur</td>
          <td>adipiscing</td>
          <td>elit</td>
        </tr>


      </tbody>
    </table>
  </div>
