


  <nav class="navbar navbar-light bg-light shadow-none bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand">CBIT</a>
     <!-- <ul class="navbar-nav mr-auto d-inline">
        <li class="nav-item active">
          <a routerLink="/home" class="nav-link" routerLinkActive="active">Home</a>

        </li>
        <li class="nav-item">
          <a routerLink="/dashboard" class="nav-link" routerLinkActive="active">Dashboard</a>

        </li>
         <li class="nav-item">
          <a routerLink="/certificates" class="nav-link" routerLinkActive="active">Certificates</a>
        </li>
         <li class="nav-item">
          <a routerLink="/mywallet" class="nav-link" routerLinkActive="active">My wallet</a>

        </li>
        <li class="nav-item">
          <a routerLink="/search" class="nav-link" routerLinkActive="active">Search</a>
        </li>
      </ul>-->
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-secondary round-pill" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <hr>
  <router-outlet></router-outlet>


