<h3>5 min Tutorial</h3>
<div class="container-fluid">
  <div  class="row">
     <div class="col-sm-3">
      <a style=" float:left;margin-left:1%;">
        <div class="card border-0 shadow-none" style="width: 21.5rem;">
          <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="card-img-top" style=" width:100%;height:12.09rem;object-fit:cover;border-radius:0rem;" alt="">

           <h6>Product Design</h6>

          <div>
            <div style="float:left;font-size:0.6rem;">
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="far fa-star text-secondary "></i>
            </div>
            <p style="float:left;font-size:0.6rem;">(918)</p>

          </div>
          <div>
            <div style="float:;font-size:0.6rem;">
              <i class="fa fa-clock text-secondary" style="float:left;"></i>
              <p style="float:left;font-size:0.6rem;"> 45 MIN</p>

              <i class="fas fa-user-graduate text-secondary" style="float:left;margin-left:0.6rem;"></i>
              <p style="float:left;font-size:0.6rem;"> Intermediate</p>
            </div>



          </div>




        </div>
      </a>
     </div>
     <div class="col-sm-3">
      <a style=" float:left;margin-left:1%;">
        <div class="card border-0 shadow-none" style="width: 21.5rem;">
          <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="card-img-top" style=" width:100%;height:12.09rem;object-fit:cover;border-radius:0rem;" alt="">

           <h6>Product Design</h6>

          <div>
            <div style="float:left;font-size:0.6rem;">
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary unchecked"></i>
            </div>
            <p style="float:left;font-size:0.6rem;">(918)</p>

          </div>
          <div>
            <div style="float:;font-size:0.6rem;">
              <i class="fa fa-clock text-secondary" style="float:left;font-size:0.8rem;"></i>
              <p style="float:left;font-size:0.6rem;"> 45 MIN</p>

              <i class="fas fa-user-graduate text-secondary" style="float:left;margin-left:1rem;font-size:0.8rem;"></i>
              <p style="float:left;font-size:0.6rem;"> Intermediate</p>
            </div>



          </div>




        </div>
      </a>
     </div>
     <div class="col-sm-3">
      <a style=" float:left;margin-left:1%;">
        <div class="card border-0 shadow-none" style="width: 21.5rem;">
          <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="card-img-top" style=" width:100%;height:12.09rem;object-fit:cover;border-radius:0rem;" alt="">

           <h6>Product Design</h6>

          <div>
            <div style="float:left;font-size:0.6rem;">
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary "></i>
            </div>
            <p style="float:left;font-size:0.6rem;">(918)</p>

          </div>
          <div>
            <div style="float:;font-size:0.6rem;">
              <i class="fa fa-clock text-secondary" style="float:left;"></i>
              <p style="float:left;font-size:0.6rem;"> 45 MIN</p>

              <i class="fas fa-user-graduate text-secondary" style="float:left;margin-left:0.6rem;"></i>
              <p style="float:left;font-size:0.6rem;"> Intermediate</p>
            </div>



          </div>




        </div>
      </a>
     </div>
     <div class="col-sm-3">
      <a style=" float:left;margin-left:1%;">
        <div class="card border-0 shadow-none" style="width: 21.5rem;">
          <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="card-img-top" style=" width:100%;height:12.09rem;object-fit:cover;border-radius:0rem;" alt="">

           <h6>Product Design</h6>

          <div>
            <div style="float:left;font-size:0.6rem;">
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary "></i>
            </div>
            <p style="float:left;font-size:0.6rem;">(918)</p>

          </div>
          <div>
            <div style="float:;font-size:0.6rem;">
              <i class="fa fa-clock text-secondary" style="float:left;"></i>
              <p style="float:left;font-size:0.6rem;"> 45 MIN</p>

              <i class="fas fa-user-graduate text-secondary" style="float:left;margin-left:0.6rem;"></i>
              <p style="float:left;font-size:0.6rem;"> Intermediate</p>
            </div>



          </div>




        </div>
      </a>
     </div>

  </div>
</div>

<h3>Entrepeneurship</h3>
<div class="container-fluid">
  <div  class="row">
     <div class="col-sm-3">
      <a style=" float:left;margin-left:1%;">
        <div class="card border-0 shadow-none" style="width: 21.5rem;">
          <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="card-img-top" style=" width:100%;height:12.09rem;object-fit:cover;border-radius:0rem;" alt="">

           <h6>Product Design</h6>

          <div>
            <div style="float:left;font-size:0.6rem;">
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary "></i>
            </div>
            <p style="float:left;font-size:0.6rem;">(918)</p>

          </div>
          <div>
            <div style="float:;font-size:0.6rem;">
              <i class="fa fa-clock text-secondary" style="float:left;"></i>
              <p style="float:left;font-size:0.6rem;"> 45 MIN</p>

              <i class="fas fa-user-graduate text-secondary" style="float:left;margin-left:0.6rem;"></i>
              <p style="float:left;font-size:0.6rem;"> Intermediate</p>
            </div>



          </div>




        </div>
      </a>
     </div>
     <div class="col-sm-3">
      <a style=" float:left;margin-left:1%;">
        <div class="card border-0 shadow-none" style="width: 21.5rem;">
          <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="card-img-top" style=" width:100%;height:12.09rem;object-fit:cover;border-radius:0rem;" alt="">

           <h6>Product Design</h6>

          <div>
            <div style="float:left;font-size:0.6rem;">
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary "></i>
            </div>
            <p style="float:left;font-size:0.6rem;">(918)</p>

          </div>
          <div>
            <div style="float:;font-size:0.6rem;">
              <i class="fa fa-clock text-secondary" style="float:left;"></i>
              <p style="float:left;font-size:0.6rem;"> 45 MIN</p>

              <i class="fas fa-user-graduate text-secondary" style="float:left;margin-left:0.6rem;"></i>
              <p style="float:left;font-size:0.6rem;"> Intermediate</p>
            </div>



          </div>




        </div>
      </a>
     </div>
     <div class="col-sm-3">
      <a style=" float:left;margin-left:1%;">
        <div class="card border-0 shadow-none" style="width: 21.5rem;">
          <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="card-img-top" style=" width:100%;height:12.09rem;object-fit:cover;border-radius:0rem;" alt="">

           <h6>Product Design</h6>

          <div>
            <div style="float:left;font-size:0.6rem;">
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary "></i>
            </div>
            <p style="float:left;font-size:0.6rem;">(918)</p>

          </div>
          <div>
            <div style="float:;font-size:0.6rem;">
              <i class="fa fa-clock text-secondary" style="float:left;"></i>
              <p style="float:left;font-size:0.6rem;"> 45 MIN</p>

              <i class="fas fa-user-graduate text-secondary" style="float:left;margin-left:0.6rem;"></i>
              <p style="float:left;font-size:0.6rem;"> Intermediate</p>
            </div>



          </div>




        </div>
      </a>
     </div>
     <div class="col-sm-3">
      <a style=" float:left;margin-left:1%;">
        <div class="card border-0 shadow-none" style="width: 21.5rem;">
          <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="card-img-top" style=" width:100%;height:12.09rem;object-fit:cover;border-radius:0rem;" alt="">

           <h6>Product Design</h6>

          <div>
            <div style="float:left;font-size:0.6rem;">
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary "></i>
            </div>
            <p style="float:left;font-size:0.6rem;">(918)</p>

          </div>
          <div>
            <div style="float:;font-size:0.6rem;">
              <i class="fa fa-clock text-secondary" style="float:left;"></i>
              <p style="float:left;font-size:0.6rem;"> 45 MIN</p>

              <i class="fas fa-user-graduate text-secondary" style="float:left;margin-left:0.6rem;"></i>
              <p style="float:left;font-size:0.6rem;"> Intermediate</p>
            </div>



          </div>




        </div>
      </a>
     </div>

  </div>
</div>

<h3>Business Innovation</h3>
<div class="container-fluid">
  <div  class="row">
     <div class="col-sm-3">
      <a style=" float:left;margin-left:1%;">
        <div class="card border-0 shadow-none" style="width: 21.5rem;">
          <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="card-img-top" style=" width:100%;height:12.09rem;object-fit:cover;border-radius:0rem;" alt="">

           <h6>Product Design</h6>

          <div>
            <div style="float:left;font-size:0.6rem;">
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary "></i>
            </div>
            <p style="float:left;font-size:0.6rem;">(918)</p>

          </div>
          <div>
            <div style="float:;font-size:0.6rem;">
              <i class="fa fa-clock text-secondary" style="float:left;"></i>
              <p style="float:left;font-size:0.6rem;"> 45 MIN</p>

              <i class="fas fa-user-graduate text-secondary" style="float:left;margin-left:0.6rem;"></i>
              <p style="float:left;font-size:0.6rem;"> Intermediate</p>
            </div>



          </div>




        </div>
      </a>
     </div>
     <div class="col-sm-3">
      <a style=" float:left;margin-left:1%;">
        <div class="card border-0 shadow-none" style="width: 21.5rem;">
          <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="card-img-top" style=" width:100%;height:12.09rem;object-fit:cover;border-radius:0rem;" alt="">

           <h6>Product Design</h6>

          <div>
            <div style="float:left;font-size:0.6rem;">
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary "></i>
            </div>
            <p style="float:left;font-size:0.6rem;">(918)</p>

          </div>
          <div>
            <div style="float:;font-size:0.6rem;">
              <i class="fa fa-clock text-secondary" style="float:left;"></i>
              <p style="float:left;font-size:0.6rem;"> 45 MIN</p>

              <i class="fas fa-user-graduate text-secondary" style="float:left;margin-left:0.6rem;"></i>
              <p style="float:left;font-size:0.6rem;"> Intermediate</p>
            </div>



          </div>




        </div>
      </a>
     </div>
     <div class="col-sm-3">
      <a style=" float:left;margin-left:1%;">
        <div class="card border-0 shadow-none" style="width: 21.5rem;">
          <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="card-img-top" style=" width:100%;height:12.09rem;object-fit:cover;border-radius:0rem;" alt="">

           <h6>Product Design</h6>

          <div>
            <div style="float:left;font-size:0.6rem;">
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary "></i>
            </div>
            <p style="float:left;font-size:0.6rem;">(918)</p>

          </div>
          <div>
            <div style="float:;font-size:0.6rem;">
              <i class="fa fa-clock text-secondary" style="float:left;"></i>
              <p style="float:left;font-size:0.6rem;"> 45 MIN</p>

              <i class="fas fa-user-graduate text-secondary" style="float:left;margin-left:0.6rem;"></i>
              <p style="float:left;font-size:0.6rem;"> Intermediate</p>
            </div>



          </div>




        </div>
      </a>
     </div>
     <div class="col-sm-3">
      <a style=" float:left;margin-left:1%;">
        <div class="card border-0 shadow-none" style="width: 21.5rem;">
          <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="card-img-top" style=" width:100%;height:12.09rem;object-fit:cover;border-radius:0rem;" alt="">

           <h6>Product Design</h6>

          <div>
            <div style="float:left;font-size:0.6rem;">
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary "></i>
            </div>
            <p style="float:left;font-size:0.6rem;">(918)</p>

          </div>
          <div>
            <div style="float:;font-size:0.6rem;">
              <i class="fa fa-clock text-secondary" style="float:left;"></i>
              <p style="float:left;font-size:0.6rem;"> 45 MIN</p>

              <i class="fas fa-user-graduate text-secondary" style="float:left;margin-left:0.6rem;"></i>
              <p style="float:left;font-size:0.6rem;"> Intermediate</p>
            </div>



          </div>




        </div>
      </a>
     </div>

  </div>
</div>

<h3>Start and Improve your business</h3>
<div class="container-fluid">
  <div  class="row">
     <div class="col-sm-3">
      <a style=" float:left;margin-left:1%;">
        <div class="card border-0 shadow-none" style="width: 21.5rem;">
          <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="card-img-top" style=" width:100%;height:12.09rem;object-fit:cover;border-radius:0rem;" alt="">

           <h6>Product Design</h6>

          <div>
            <div style="float:left;font-size:0.6rem;">
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary "></i>
            </div>
            <p style="float:left;font-size:0.6rem;">(918)</p>

          </div>
          <div>
            <div style="float:;font-size:0.6rem;">
              <i class="fa fa-clock text-secondary" style="float:left;"></i>
              <p style="float:left;font-size:0.6rem;"> 45 MIN</p>

              <i class="fas fa-user-graduate text-secondary" style="float:left;margin-left:0.6rem;"></i>
              <p style="float:left;font-size:0.6rem;"> Intermediate</p>
            </div>



          </div>




        </div>
      </a>
     </div>
     <div class="col-sm-3">
      <a style=" float:left;margin-left:1%;">
        <div class="card border-0 shadow-none" style="width: 21.5rem;">
          <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="card-img-top" style=" width:100%;height:12.09rem;object-fit:cover;border-radius:0rem;" alt="">

           <h6>Product Design</h6>

          <div>
            <div style="float:left;font-size:0.6rem;">
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary "></i>
            </div>
            <p style="float:left;font-size:0.6rem;">(918)</p>

          </div>
          <div>
            <div style="float:;font-size:0.6rem;">
              <i class="fa fa-clock text-secondary" style="float:left;"></i>
              <p style="float:left;font-size:0.6rem;"> 45 MIN</p>

              <i class="fas fa-user-graduate text-secondary" style="float:left;margin-left:0.6rem;"></i>
              <p style="float:left;font-size:0.6rem;"> Intermediate</p>
            </div>



          </div>




        </div>
      </a>
     </div>
     <div class="col-sm-3">
      <a style=" float:left;margin-left:1%;">
        <div class="card border-0 shadow-none" style="width: 21.5rem;">
          <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="card-img-top" style=" width:100%;height:12.09rem;object-fit:cover;border-radius:0rem;" alt="">

           <h6>Product Design</h6>

          <div>
            <div style="float:left;font-size:0.6rem;">
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary "></i>
            </div>
            <p style="float:left;font-size:0.6rem;">(918)</p>

          </div>
          <div>
            <div style="float:;font-size:0.6rem;">
              <i class="fa fa-clock text-secondary" style="float:left;"></i>
              <p style="float:left;font-size:0.6rem;"> 45 MIN</p>

              <i class="fas fa-user-graduate text-secondary" style="float:left;margin-left:0.6rem;"></i>
              <p style="float:left;font-size:0.6rem;"> Intermediate</p>
            </div>



          </div>




        </div>
      </a>
     </div>
     <div class="col-sm-3">
      <a style=" float:left;margin-left:1%;">
        <div class="card border-0 shadow-none" style="width: 21.5rem;">
          <img src="./assets/images/charles-forerunner-3fPXt37X6UQ-unsplash.jpg" class="card-img-top" style=" width:100%;height:12.09rem;object-fit:cover;border-radius:0rem;" alt="">

           <h6>Product Design</h6>

          <div>
            <div style="float:left;font-size:0.6rem;">
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary checked"></i>
              <i class="fa fa-star text-secondary "></i>
            </div>
            <p style="float:left;font-size:0.6rem;">(918)</p>

          </div>
          <div>
            <div style="float:;font-size:0.6rem;">
              <i class="fa fa-clock text-secondary" style="float:left;"></i>
              <p style="float:left;font-size:0.6rem;"> 45 MIN</p>

              <i class="fas fa-user-graduate text-secondary" style="float:left;margin-left:0.6rem;"></i>
              <p style="float:left;font-size:0.6rem;"> Intermediate</p>
            </div>



          </div>




        </div>
      </a>
     </div>

  </div>
</div>















