/* You can add global styles to this file, and also import other style files */
// Your variable overrides
/*font sizes*/
$fontSize1:80px;
$fontSize2:40px;
$fontSize3:18px;
$fontSize4:15px;
$fontSize5:10px;
/*font types*/
$head:'Oswald', sans-serif;
$body:'Roboto', sans-serif;
/*font weight*/
$weight1:700;

//colors
$body-bg:#ffffff;
$body-color: #111111;
$primary:whitesmoke;
$secondary:#FB8500;
$success:green;
$info:blue;
//$success:;
//$info,
//$warning,
$danger:red;
$light:#ffffff;
$dark:#000000;

//utilities
$width:100%;
$border-radius:0;
$auto-height:auto;
//side-text utilities
$side-text-margin-top: 25%;
$side-text-margin-left: 20%;
//a-card utilities
$a-card-float:left;
$a-card-margin-left:1%;
$a-card-text-decoration: none;
//card-image utilities
$card-image-width:100%;
$card-image-height:12.09rem;
$card-image-object-fit:cover;
$card-image-border-radius:0rem;
$card-image-width: 21.5rem;
$card-image-pointer:pointer;
//card-whole
$card-whole-width:21.5rem;
//.sub-heading
$sub-heading-float:left;
$sub-heading-size:0.6rem;
//.icon-2 uitlities
$icon-2-float:left;
$icon-2-font-size:0.8rem;
//.icon-21 utilities
$icon-21-float:left;
$icon-21-font-size:0.8rem;
$icon-21-margin-left:1rem;

.progress-text{
  font-family: $body;
  line-height: 1.5;
}
.distribution{
  border:60px solid #EAEAEA;
  width:300px;
  height:300px;
  border-radius:50%;
  border-top:60px solid green;
  border-right:60px solid green;
  border-bottom:60px solid #FB8500;
  border-left:60px solid blue;
}
@media only screen and (max-width: 600px){
  .distribution{
    border:30px solid #EAEAEA;
    width:200px;
    height:200px;
    border-radius:50%;
    border-top:30px solid green;
    border-right:30px solid green;
    border-bottom:30px solid #FB8500;
    border-left:30px solid blue;


  }
}

h1 {
  font-family: $body;
  line-height: 1.5;
}
h2,h3,h4,h5,h6 {
  font-family: $body;
  line-height: 1.5;
}
p{
  font-family:$body;
}
.cardRadius {
  border-radius: 2rem;
}
.footerLink {
	color: $body-color;
	font-size:$fontSize5;
	font-family: $body;
}
.footerLinkIcons {
	color: $body-color;
	font-size:$fontSize4;
	font-family: $body;
	margin-right:5%;

}
.mainHeader {
	color: $dark;
	font-size:$fontSize2;
	font-family: $head;
    display:inline;
}
.mainBody, label, small,.page-item, .page-link {
	color: $dark;
	font-size:$fontSize4;
	font-family: $body;
}
//heroimage
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("./assets/images/Blue Simple Course Certificate (1).jpg");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
//hero-text
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $dark;
}
//side text
.side-text {
  margin-top: $side-text-margin-top;
  margin-left: $side-text-margin-left;
}
.side-image {
  width: $width;
  height:$auto-height;
  border-radius:$border-radius;
}
//card styling
.a-card {
  float:$a-card-float;
  margin-left:$a-card-margin-left;
  text-decoration: $a-card-text-decoration;
}
.card-image {
  width:$card-image-width;
  height:$card-image-height;
  object-fit:$card-image-object-fit;
  border-radius:$card-image-border-radius;
  cursor:$card-image-pointer;
}
.card-whole {
  width: $card-whole-width;
}
.sub-heading {
  float:$sub-heading-float;
  font-size:$sub-heading-size;
}

//.icon-21 utilities
.icon-2 {
  float:$icon-2-float;
  font-size:$icon-2-font-size;
}
.icon-21 {
  float:$icon-21-float;
  font-size:$icon-21-font-size;
  margin-left:$icon-21-margin-left;
}
// Custom.scss
// Option A: Include all of Bootstrap

@import "../node_modules/bootstrap/scss/bootstrap";
// Custom.scss
// Option B: Include parts of Bootstrap

// Required
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// Optional
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";

@import "../node_modules/bootstrap/scss/grid";
//heading typograpghy
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
//body typograpghy
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
//fonts
@import url('https://use.fontawesome.com/b8e23bf3b8.js');
